[flake8]
max-line-length = 100

# Only include these files for linting
filename =
    .github/workflows/vertex-ai-cicd.yml
    src/compiler.py
    src/vertex_pipeline_dev.py
    src/vertex_pipeline_prod.py

# Ignore all other files and directories
exclude =
    .tox,
    .git,
    __pycache__,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    develop,
    src/model/v1train.py

# Per-file ignores (if needed)
per-file-ignores =
    src/__init__.py:D104
    src/*/__init__.py:D104

ignore =
    W504,
    C901,
    E41,
    E722,
    W,
    D,
    F,
    N,
    C,
    I

max-complexity = 10
import-order-style = pep8